<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kdajv.project.system.mapper.TCompetitionMapper">
    
    <resultMap type="TCompetition" id="TCompetitionResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="date"    column="date"    />
        <result property="focus"    column="focus"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTCompetitionVo">
        select id, name, date, focus, create_by, create_time, update_by, update_time, remark from t_competition
    </sql>

    <select id="selectTCompetitionList" parameterType="TCompetition" resultMap="TCompetitionResult">
        <include refid="selectTCompetitionVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="date != null "> and date = #{date}</if>
            <if test="focus != null  and focus != ''"> and focus = #{focus}</if>
        </where>
    </select>
    
    <select id="selectTCompetitionById" parameterType="Long" resultMap="TCompetitionResult">
        <include refid="selectTCompetitionVo"/>
        where id = #{id}
    </select>

    <insert id="insertTCompetition" parameterType="TCompetition" useGeneratedKeys="true" keyProperty="id">
        insert into t_competition
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="date != null">date,</if>
            <if test="focus != null and focus != ''">focus,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="date != null">#{date},</if>
            <if test="focus != null and focus != ''">#{focus},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTCompetition" parameterType="TCompetition">
        update t_competition
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="date != null">date = #{date},</if>
            <if test="focus != null and focus != ''">focus = #{focus},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTCompetitionById" parameterType="Long">
        delete from t_competition where id = #{id}
    </delete>

    <delete id="deleteTCompetitionByIds" parameterType="String">
        delete from t_competition where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>