<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kdajv.project.system.mapper.TQuestionAttachmentMapper">
    
    <resultMap type="TQuestionAttachment" id="TQuestionAttachmentResult">
        <result property="id"    column="id"    />
        <result property="questionId"    column="question_id"    />
        <result property="questionName"    column="question_name"    />
        <result property="name"    column="name"    />
        <result property="description"    column="description"    />
        <result property="path"    column="path"    />
        <result property="type"    column="type"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTQuestionAttachmentVo">
        select id, question_id, question_name, name, description, path, type, create_by, create_time, update_by, update_time, remark from t_question_attachment
    </sql>

    <select id="selectTQuestionAttachmentList" parameterType="TQuestionAttachment" resultMap="TQuestionAttachmentResult">
        <include refid="selectTQuestionAttachmentVo"/>
        <where>  
            <if test="questionId != null "> and question_id = #{questionId}</if>
            <if test="questionName != null  and questionName != ''"> and question_name like concat('%', #{questionName}, '%')</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="path != null  and path != ''"> and path = #{path}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
        </where>
    </select>
    
    <select id="selectTQuestionAttachmentById" parameterType="Long" resultMap="TQuestionAttachmentResult">
        <include refid="selectTQuestionAttachmentVo"/>
        where id = #{id}
    </select>

    <insert id="insertTQuestionAttachment" parameterType="TQuestionAttachment" useGeneratedKeys="true" keyProperty="id">
        insert into t_question_attachment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="questionId != null">question_id,</if>
            <if test="questionName != null and questionName != ''">question_name,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="description != null">description,</if>
            <if test="path != null and path != ''">path,</if>
            <if test="type != null">type,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="questionId != null">#{questionId},</if>
            <if test="questionName != null and questionName != ''">#{questionName},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="description != null">#{description},</if>
            <if test="path != null and path != ''">#{path},</if>
            <if test="type != null">#{type},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTQuestionAttachment" parameterType="TQuestionAttachment">
        update t_question_attachment
        <trim prefix="SET" suffixOverrides=",">
            <if test="questionId != null">question_id = #{questionId},</if>
            <if test="questionName != null and questionName != ''">question_name = #{questionName},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
            <if test="path != null and path != ''">path = #{path},</if>
            <if test="type != null">type = #{type},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTQuestionAttachmentById" parameterType="Long">
        delete from t_question_attachment where id = #{id}
    </delete>

    <delete id="deleteTQuestionAttachmentByIds" parameterType="String">
        delete from t_question_attachment where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>